body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;

}

p {
  margin: 0.5rem auto;
}


.main {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin: auto;
  height:100vh;
transform: rotate(-90deg);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fragment {
  text-align: center;
  line-height: 1rem;
}

.footnote {
  padding-top: 0.4rem;
  font-style: italic;
  color: #7c7c7c;
  line-height: 1rem;
}

