body
{
  /* font-family: 'Helvetica', 'Arial', sans-serif; */
  font-family: 'EB Garamond';
  color: #444444;
  font-size: 20pt;
  background-color: #FAFAFA;
}

p {
  margin: 40px auto;
}


.main {
  position: relative;
  /* padding: 50px; */
  width: 1500px;
  max-width: 100%;
  margin: auto;
  height:100vh;
  transform: rotate(-90deg);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fragment {
  text-align: justify;
  text-align-last: center;
  line-height: 27px;
}

.footnote {
  padding-top: 5px;
  padding-bottom: 0px;
  font-style: italic;
  color: #7c7c7c;
  line-height: 27px;
}
